openapi: 3.0.3
info:
  title: 단국대학교 교육지원비서 - OpenAPI 3.0
  description: |-
    단국대학교 교육 지원비서 API 
  #  - [The Pet Store repository](https://github.com/swagger-api/swagger-petstore)
  #  - [The source API definition for the Pet Store](https://github.com/swagger-api/swagger-petstore/blob/master/src/main/resources/openapi.yaml)
  #termsOfService: http://swagger.io/terms/
  #contact:
  #  email: apiteam@diquest.com
  #license:
  #  name: Apache 2.0
  #  url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.11
#externalDocs:
  #description: Find out more about Swagger
  #url: http://swagger.io
servers:
  - url: http://i.dankook.ac.kr/rest
tags:
  - name: topic
    description: 추출된 토픽 (교과목, 비교과목, 채용정보, 자격증정, 기업명, 연구자료)
    externalDocs:
      description: Find out more
      url: http://swagger.io
paths:
  /getTopicList:
    get:
      tags:
        - topic
      summary: 토픽 목록 조회 
      description: ''
      operationId: readTopicList
      parameters:
        - name: userId
          in: query
          description: 회원아이디
          required: true
          schema:
            type: string
        - name: type
          in: query
          description: 학과 - M, 선배 - S, 관심 - F, 교수 - P , 수강 - T
          required: true
          schema:
            type: string
        - name: section 
          in: query
          description: 용어 - T, 교과 - S, 비교과 - N, 챼용 - E, 자격증 - L, 기업 - C, 연구 - R
          required: true
          schema:
            type: string
        - name: searchTerm  
          in: query
          description: 검색어
          required: true
          schema:
            type: string
        - name: page  
          in: query
          description: 페이지번호
          required: true
          schema:
            type: string
        - name: pageSize  
          in: query
          description: 페이지크기
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          #headers:
            #X-Rate-Limit:
            #  description: calls per hour allowed by the user
            #  schema:
            #    type: integer
            #    format: int32
            #X-Expires-After:
            #  description: date in UTC when token expires
            #  schema:
            #    type: string
            #    format: date-time
          content:
            application/json:
              schema:
                type: string
        '400':
          description: INTERNAL_ERROR
          
components:
  schemas:
    #User:
      #type: object
      #properties:
        #id:
          #type: integer
          #format: int64
          #example: 10
      #xml:
        #name: user
    ApiResponse:
      type: object
      properties:
        data:
          type: string
        retCode :
          type: string
        retMsg  :
          type: string
      xml:
        name: '##default'
  securitySchemes:
    petstore_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://petstore3.swagger.io/oauth/authorize
          scopes:
            write:topic: 등록 권한
            read:topic: 조회 권한
    api_key:
      type: apiKey
      name: api_key
      in: header
